.content{
  width: 80%;
  text-align:center;
  margin:0 auto;
  font-size:1.5em;
}

@media only screen and (max-width: 600px) {
  .content{
    width: 100%;
  }
}
@media only screen and (min-width: 601px) {
  .content{
    width: 80%;
  }
}
